<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recibos: {{codigo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <div *ngFor="let item of (results | async)" class="ion-margin-bottom">
      <ion-card button [routerLink]="['/', 'detalle-recibo', item.id_abono, item.codigo_credito]">
        <ion-card-header color="light">
          <ion-card-title>
            <ion-icon name="document-text-outline" color="primary" size="large" class="ion-padding-end"></ion-icon>
            Recibo: {{ item.recibo }}
          </ion-card-title>
          <ion-card-subtitle>
            <ion-badge color="light">
              Fecha de pago: 
            </ion-badge>
             
            <ion-badge color="primary">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              {{ item.fecha_pago | date:'mediumDate'}}
            </ion-badge>
          </ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-item lines="none">
                  <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
                  <ion-label>
                    <h3>Valor Pagado</h3>
                    <p>{{ item.valor | currency }}</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              
              <ion-col size="12" size-md="6">
                <ion-item lines="none">
                  <ion-icon name="card-outline" slot="start" color="warning"></ion-icon>
                  <ion-label>
                    <h3>Forma de Pago</h3>
                    <p>{{ item.forma_abono }}</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    
    <!-- Mensaje cuando no hay recibos -->
    <ion-card *ngIf="(results| async)?.length == 0" class="ion-text-center ion-padding">
      <ion-icon name="alert-circle-outline" color="medium" size="large"></ion-icon>
      <ion-card-content>
        <h2>No se han encontrado abonos</h2>
        <p>Este crédito no tiene pagos registrados en el sistema</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

