<!-- El splash animado se renderiza fuera del flujo normal del DOM -->
<div id="splash-container" style="position: absolute; top: 0; left: 0; z-index: 10000;">
  <app-animated-splash *ngIf="showAnimatedSplash" (splashFinished)="onSplashFinished()"></app-animated-splash>
</div>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-img src="assets/Images/logoElectro.png"></ion-img>          
        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
              <ion-list-header style="padding-bottom: 10px;">
              <div class="ion-text-center" style="width: 100%;">
              <ion-icon name="person-circle-outline" color="secondary" size="large"></ion-icon>
              <div class="welcome-title">Bienvenido, {{userName}}!</div>
              </div>
              </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" color="danger" name="log-out"></ion-icon>
              <ion-label>
                Cerrar sesión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="aiocnictive" routerDirection="root" detail="false">
              <ion-icon slot="start" color="secondary" name="log-in"></ion-icon>
              <ion-label>
                Acceder a la app
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
      <ion-footer [translucent]="true">
          <ion-toolbar>
        <ion-title style="font-size: 10px;">Versión 2.0.0 ©</ion-title>            
          </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
