<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-img src="assets/Images/logoElectro.png"></ion-img>          
        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            ¡Bienvenido {{userName}}!
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Cerrar sesión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerLinkActive="aiocnictive" routerDirection="root" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Acceder a la app
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-footer>
          <ion-toolbar>
            <ion-title>Versión 2.0.0 ©</ion-title>            
          </ion-toolbar>
        </ion-footer>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
